<nav>

  <mat-toolbar style="background-color: #e6faff !important;height: fit-content;">
 
    <span class="example-spacer"></span>
    <mat-chip-list style="float: right;padding:5px;">
      <mat-chip>
        <mat-icon style="color:#0080ff ;">help</mat-icon>
       Add Guest
      </mat-chip>
      <mat-chip color="primary">
        <mat-icon style="color:#0080ff ;">account_circle</mat-icon>
      Add Guest
      </mat-chip>
   
    </mat-chip-list>
  
   
    
  </mat-toolbar>
  <mat-toolbar style="background-color: #146fca !important;    border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;height: 100px;">


    <div class="row" style="width: 100%;">
      <div class="col-2">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon style="color:#ffffff;"> sentiment_satisfied_alt</mat-icon>
        </button>
        <span style="color:#ffffff;">Memories</span>
      </div>
      <div class="col-7">
        <mat-nav-list class="list-horizontal">
          <mat-list-item>
         
            <div mat-line style="color:#ffffff;"><mat-icon mat-list-icon style="color:#ffffff;"> home</mat-icon><div>Home</div></div>
          </mat-list-item>
          <mat-list-item>
            <a href style="color:#ffffff;"><mat-icon mat-list-icon style="color:#ffffff;"> home</mat-icon><div>Journal</div></a>
          </mat-list-item>
          <mat-list-item>
            <a href style="color:#ffffff;"><mat-icon mat-list-icon style="color:#ffffff;"> favorite_border</mat-icon><div>Life Story</div></a>
          </mat-list-item>
          <mat-list-item>
            <a href style="color:#ffffff;"><mat-icon mat-list-icon style="color:#ffffff;"> list_alt</mat-icon><div>Diary</div></a>
          </mat-list-item>
          <mat-list-item>
            <a href style="color:#ffffff;"><mat-icon mat-list-icon style="color:#ffffff;"> group</mat-icon><div>Family Tree</div></a>
          </mat-list-item>
          <mat-list-item>
            <a href style="color:#ffffff;"><mat-icon mat-list-icon style="color:#ffffff;"> date_range</mat-icon><div>Calendar</div></a>
          </mat-list-item>
          <mat-list-item>
            <a href style="color:#ffffff;"><mat-icon mat-list-icon style="color:#ffffff;"> home</mat-icon><div>Wishlist</div></a>
          </mat-list-item>
          <mat-list-item>
            <a href style="color:#ffffff;"><mat-icon mat-list-icon style="color:#ffffff;"> home</mat-icon><div>Documents</div></a>
          </mat-list-item>
        </mat-nav-list>
      </div>
      <div class="col-2 pt-4">
        <span class="ml-2" style="padding:25px">    <mat-icon style="color:#ffffff;" matBadge="5" matBadgeColor="warn">notifications</mat-icon></span>
        <span class="ml-2" style="padding:25px"> <mat-icon style="color:#ffffff;" matBadge="7" matBadgeColor="warn">message</mat-icon></span>
      </div>
        <!-- Include text description of the icon's meaning for screen-readers -->
        <div class="col-1" style="text-align: center;">
       
          <div><img  style=" border-radius: 100%;border: 3px solid white;" src='https://www.himalmag.com/wp-content/uploads/2019/07/sample-profile-picture.png' width="40px"/></div>
        <div style="font-size:10px;color:white;">Alfred Charles</div>
      
       
      </div>
    </div>
   
    <!-- <span class="example-spacer"></span> -->

    <!-- <span class="example-spacer"></span> -->
   
  </mat-toolbar>
</nav>
<div class="container" style="padding-left: 40px;padding-right:40px;">
  <div class="row pt-4" >
    <div class="col-md-9" style="background-color:transparent;">
      <div class="row pb-2">
        <div class="col-md-6 pt-2">
          <span style="    font-size: 18px;
          font-weight: 500; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      "> Shared Documents</span>
         </div>
         <div class="col-md-2 pt-2">
          
         </div>
        <div class="col-md-4">
          <div class="wrapper">
           
            <div class="searchBar">
              <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Search Document" value="" />
              <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#666666" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    

   
      <mat-card class="m-1 p-0">
        <div class="row">
        <div class="col-md-1" style="   background-color: rgb(250 239 250); border-top-left-radius: 20px;  text-align: center;  border-bottom-left-radius: 20px;">
        <img src="../assets/icons8-image-48.png" width="50px" style="padding-top: 10px;">
  
      
      </div>
      <div class="col-md-11">
        <table style="width:100% ;">
          <tr>
            <td width="35%">License.png</td>
            <td width="20%">17 April 2022</td>
            <td width="20%"> 1.1 mb</td>
            <td width="25%"> 
              <div class="row">
                <div class="col-3">
                  <img matChipAvatar src='https://www.himalmag.com/wp-content/uploads/2019/07/sample-profile-picture.png' width="40px" style="padding-top: 10px;"/>
                </div>
                <div class="col-9">
                  <p class="mt-3 mb-0">Samantha Yatovitz</p>
                  <h6 class="mt-0">Sister</h6>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
      </mat-card>
      <mat-card class="m-1 p-0">
        <div class="row">
        <div class="col-md-1" style="   background-color: rgb(250 239 250); border-top-left-radius: 20px;  text-align: center;  border-bottom-left-radius: 20px;">
        <img src="../assets/icons8-image-48.png" width="50px" style="padding-top: 10px;">
  
      
      </div>
      <div class="col-md-11">
        <table style="width:100% ;">
          <tr>
            <td width="35%">License.png</td>
            <td width="20%">17 April 2022</td>
            <td width="20%"> 1.1 mb</td>
            <td width="25%"> 
              <div class="row">
                <div class="col-3">
                  <img matChipAvatar src='https://www.himalmag.com/wp-content/uploads/2019/07/sample-profile-picture.png' width="40px" style="padding-top: 10px;"/>
                </div>
                <div class="col-9">
                  <p class="mt-3 mb-0">Samantha Yatovitz</p>
                  <h6 class="mt-0">Sister</h6>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
      </mat-card>
      <mat-card class="m-1 p-0">
        <div class="row">
        <div class="col-md-1" style="   background-color: rgb(250 239 250); border-top-left-radius: 20px;  text-align: center;  border-bottom-left-radius: 20px;">
        <img src="../assets/icons8-image-48.png" width="50px" style="padding-top: 10px;">
  
      
      </div>
      <div class="col-md-11">
        <table style="width:100% ;">
          <tr>
            <td width="35%">License.png</td>
            <td width="20%">17 April 2022</td>
            <td width="20%"> 1.1 mb</td>
            <td width="25%"> 
              <div class="row">
                <div class="col-3">
                  <img matChipAvatar src='https://www.himalmag.com/wp-content/uploads/2019/07/sample-profile-picture.png' width="40px" style="padding-top: 10px;"/>
                </div>
                <div class="col-9">
                  <p class="mt-3 mb-0">Samantha Yatovitz</p>
                  <h6 class="mt-0">Sister</h6>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
      </mat-card>
      <div class="row pt-3 pb-2">
        <div class="col-md-6 pt-2">
         <span style="    font-size: 18px;
         font-weight: 500; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
     "> My Documents</span>
        </div>
        <div class="col-md-2 pt-2">
          <mat-chip style="background-color: #0080ff !important;color:white !important;font-size:10px !important;min-height: 25px !important;">
           
            Add documents
           </mat-chip>
        </div>
        <div class="col-md-4">
          <div class="wrapper">
           
            <div class="searchBar">
              <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Search Document" value="" />
              <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#666666" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <mat-card class="m-1 p-0" style="    border: 1px solid #0080ff;">
        <div class="row">
        <div class="col-md-1" style="   background-color: rgb(250 239 250); border-top-left-radius: 20px;  text-align: center;  border-bottom-left-radius: 20px;">
        <img src="../assets/icons8-image-48.png" width="50px" style="padding-top: 10px;">
  
      
      </div>
      <div class="col-md-11 pt-3">
        <table style="width:100% ;">
          <tr>
            <td width="35%">License.png</td>
            <td width="20%">17 April 2022</td>
            <td width="20%"> 1.1 mb</td>
            <td width="20%"> 
              <mat-icon style="color:#0080ff;">reply</mat-icon>
              <span  style="color:#0080ff;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px; font-weight:400;vertical-align: 5px;">Share</span>
            </td>
            <td width="5%">
              <mat-icon style="color:red;">delete</mat-icon>
            </td>
          </tr>
        </table>
      </div>
    </div>
      </mat-card>
      <mat-card class="m-1 p-0">
        <div class="row">
        <div class="col-md-1" style="   background-color: rgb(250 239 250); border-top-left-radius: 20px;  text-align: center;  border-bottom-left-radius: 20px;">
        <img src="../assets/icons8-image-48.png" width="50px" style="padding-top: 10px;">
  
      
      </div>
      <div class="col-md-11 pt-3">
        <table style="width:100% ;">
          <tr>
            <td width="35%">License.png</td>
            <td width="20%">17 April 2022</td>
            <td width="20%"> 1.1 mb</td>
            <td width="20%"> 
              <mat-icon style="color:#0080ff;">reply</mat-icon>
              <span  style="color:#0080ff;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px; font-weight:400;vertical-align: 5px;">Share</span>
            </td>
            <td width="5%">
              <mat-icon style="color:red;">delete</mat-icon>
            </td>
          </tr>
        </table>
      </div>
    </div>
      </mat-card>
      <mat-card class="m-1 p-0">
        <div class="row">
        <div class="col-md-1" style="   background-color: rgb(250 239 250); border-top-left-radius: 20px;  text-align: center;  border-bottom-left-radius: 20px;">
        <img src="../assets/icons8-image-48.png" width="50px" style="padding-top: 10px;">
  
      
      </div>
      <div class="col-md-11 pt-3">
        <table style="width:100% ;">
          <tr>
            <td width="35%">License.png</td>
            <td width="20%">17 April 2022</td>
            <td width="20%"> 1.1 mb</td>
            <td width="20%"> 
              <mat-icon style="color:#0080ff;">reply</mat-icon>
              <span  style="color:#0080ff;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px; font-weight:400;vertical-align: 5px;">Share</span>
            </td>
            <td width="5%">
              <mat-icon style="color:red;">delete</mat-icon>
            </td>
          </tr>
        </table>
      </div>
    </div>
      </mat-card>
      <mat-card class="m-1 p-0">
        <div class="row">
        <div class="col-md-1" style="   background-color: rgb(250 239 250); border-top-left-radius: 20px;  text-align: center;  border-bottom-left-radius: 20px;">
        <img src="../assets/icons8-image-48.png" width="50px" style="padding-top: 10px;">
  
      
      </div>
      <div class="col-md-11 pt-3">
        <table style="width:100% ;">
          <tr>
            <td width="35%">License.png</td>
            <td width="20%">17 April 2022</td>
            <td width="20%"> 1.1 mb</td>
            <td width="20%"> 
              <mat-icon style="color:#0080ff;">reply</mat-icon>
              <span  style="color:#0080ff;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px; font-weight:400;vertical-align: 5px;">Share</span>
            </td>
            <td width="5%">
              <mat-icon style="color:red;">delete</mat-icon>
            </td>
          </tr>
        </table>
      </div>
    </div>
      </mat-card>
      
    </div>
    <div class="col-md-3" style="background-color:transparent;">
    <div class="pt-2 pb-2" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:large; font-weight:500;margin-bottom:20px !important;">Document Preview</div>  
      <mat-card class="example-card pt-2" style="padding: 30px !important; ">
  
          
  
          <div class="row pt-2">
            <div class="col-10" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:large; font-weight:500;margin-bottom:20px !important;">
              Driving License
            </div>
            <div class="col-2">
              <mat-icon style="color:#0080ff ;">edit</mat-icon> 
          
            </div>
          </div>
      <div style="text-align: center;">

        <img  src="https://www.pinoydriver.com/resources/wp-content/uploads/2019/06/foreign-drivers-license-ph.png" a width="140px"alt="Photo of a Shiba Inu">
      </div>
        
        <mat-card-content>
          <div class="row pt-4 pb-4">
            <div class="col-9" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:small; font-weight:400;">
              15 April, 2022
            </div>
            <div class="col-3" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:small; font-weight:400;">
             2.1 MB
          
            </div>
          </div>
      
          <mat-chip style="background-color: white !important;color:#0080ff !important;font-size:10px !important;min-height: 25px !important; margin-right: 10px !important;">
           
            
            Add #Tag
           </mat-chip>
           <mat-chip style="background-color: white !important;color:#0080ff !important;font-size:10px !important;min-height: 25px !important; margin-right: 10px !important;">
           
            
            #Driving 
           </mat-chip>
           <mat-chip style="background-color: white !important;color:#0080ff !important;font-size:10px !important;min-height: 25px !important; margin-right: 10px !important;">
           
            
            #License 
           </mat-chip>
          
         
        </mat-card-content>
        <mat-card-actions>
          <div class="row">
            <div class="col-10">
              <mat-icon style="color:#0080ff;">reply</mat-icon>
              <span  style="color:#0080ff;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px; font-weight:400;vertical-align: 5px;">Share</span>
            </div>
            <div class="col-2">
              <mat-icon style="color:red;">delete</mat-icon>
          
            </div>
          </div>
          <div class="pt-3" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:medium; font-weight:500;margin-bottom:20px !important;" >File Share with</div>
          <div class="row">
            <div class="col-3">
              <img  src='https://www.himalmag.com/wp-content/uploads/2019/07/sample-profile-picture.png'  style="    width: 40px;
              border: 2px solid #0080ff;
              border-radius: 100%; "/>
            </div>
            <div class="col-9">
              <p class="mt-2 mb-0" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:small; font-weight:500;margin-bottom:20px !important;">Samantha Yatovitz</p>
          
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <img  src='https://www.himalmag.com/wp-content/uploads/2019/07/sample-profile-picture.png'  style="    width: 40px;
              border: 2px solid #0080ff;
              border-radius: 100%; "/>
            </div>
            <div class="col-9">
              <p class="mt-2 mb-0 pl-0" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:small; font-weight:500;margin-bottom:20px !important;">Samantha Yatovitz</p>
          
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <img  src='https://www.himalmag.com/wp-content/uploads/2019/07/sample-profile-picture.png'  style="    width: 40px;
              border: 2px solid #0080ff;
              border-radius: 100%; "/>
            </div>
            <div class="col-9">
              <p class="mt-2 mb-0 pl-0" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:small; font-weight:500;margin-bottom:20px !important;">Samantha Yatovitz</p>
          
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <img  src='https://www.himalmag.com/wp-content/uploads/2019/07/sample-profile-picture.png'  style="    width: 40px;
              border: 2px solid #0080ff;
              border-radius: 100%; "/>
            </div>
            <div class="col-9">
              <p class="mt-2 mb-0 pl-0" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:small; font-weight:500;margin-bottom:20px !important;">Samantha Yatovitz</p>
          
            </div>
          </div>
   
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>
